@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
$bgColor:#fafafa;
body {
    margin: 0px;
}

//Para que te haga caso sobre todos los elementos de la página, usamos *.
* {
    font-family: 'Lexend', sans-serif;
    text-size-adjust: auto;
}
